@tailwind base;
@tailwind components;
@tailwind utilities;

/* Grid background */
.bg-grid {
  background-color: #182C4A;
  background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}
